<div class="text-left half">
{{!--   <div class="text-area"> --}}
  <div class="text-wrap">
    <br>
    <br>
    <p>Your design matters.</p>
    <p> Every element of your design should reflect what you want your clients to feel about your brand. </p>
    <p>We start with a through ethnography, color study, brand research and mood boards so that in the every element is tailor made to evoke the desired response from your audience. From custom typefaces, creative palettes, unique signage and fully-designed spaces.</p>
    <p>Your customers feel what you want them to.</p>
  </div>
{{!-- </div> --}}
</div>