<div class="text-right half">
  <div class="text-area">
  <div class="text-wrap">
    Your design matters. Eery element of your design should reflectss what you want your clients to feel about your brand. <br/>
    We start with a through ethnography, color study, brand research and mood boards so that in the every element is tailor made to evoke the desired response from your audience. From custom typefaces, creative palettes, unique signage and fully-designed spaces.<br/>Your customers feel what you want them to.

  </div>
</div>
</div>