<div class="container">
{{!--   <div {{action 'transitionToContact'}} class="outer-wrapper">
    <div {{action 'transitionToWork'}} class="wrapper">
      <div {{action 'transitionToAbout'}} class="inner-wrapper"> --}}
        {{liquid-outlet }}
{{!--       </div>
    </div>
  </div> --}}
</div>